@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
@layer utilities {
    .bg-primary {
        background: #d82c20;
    }

    .bg-secondary {
        background: #f5f5f5;
    }

    .bg-accent {
        background: #ba1e14;
    }

    .text-accent {
        color: #d82c20;
    }

}

/* Add this in your global CSS file */
html {
    @apply bg-white text-gray-900 font-sans;
}
