@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
@layer utilities {
    .bg-primary {
        background: #0F172A;
    }

    .bg-secondary {
        background: #1E293B;
    }

    .bg-accent {
        background: #7477FF;
    }

    .text-accent {
        color: #7477FF;
    } 

}

/* Add this in your global CSS file */
html {
    @apply bg-gray-900; /* Change the color as needed */
}
